{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


{% block bootstrap4_content %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">URL_shorter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users_links' %}">My links<span class="sr-only"></span></a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <span class="navbar-text">
                        {{user.username}}
                    </span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users_logout' %}">Logout<span class="sr-only"></span></a>
                </li>
                {% else %}              
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users_login' %}">Login<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users_create' %}">Registration<span class="sr-only"></span></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% bootstrap_messages %}
{% endblock %}

{% block content %}
{% endblock %}