{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}

<div class="container wrapper flex-grow-1">
    <br>
    <h1>Test</h1>
    <br>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Link, full</th>
                    <th>Link, short</th>
                    <th>User</th>
                    <th>Quantity of redirects</th>
                    <th>Creation time</th>
                </tr>
            </thead>
            <tbody>
                {% for link in url_list %}
                <tr>
                    <td>{{link.link_full}}</td>
                    <td>{{link.link_short}}</td>
                    <td>
                        {% if link.creator %}
                            {{link.creator}}
                        {% else %}
                            Anonymous
                        {% endif %}
                    </td>
                    <td>{{link.clicks_quantity}}</td>
                    <td>{{link.time_create}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}