{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}

<div class="container wrapper flex-grow-1">
    {% if new_link %}
    <br>
    <div class="p-3 mb-2 bg-primary text-white text-center h3">
        Your new link:
        <br>
        <a class="text-light h2" href="{% url 'redirect' slug=new_link %}">
            <u>{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'redirect' slug=new_link %}</u>
        </a>
    </div>

    {% endif %}
    <!-- {% if request.session.new_link %}
    <br>
    <div class="p-3 mb-2 bg-primary text-white text-center h3">
        Your new link:
        <br>
        <a class="text-light h2" href="{% url 'redirect' slug=request.session.new_link %}">
            <u>{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'redirect' slug=request.session.new_link %}</u>
        </a>
    </div>

    {% endif %} -->
    <br>
    <h1>{{request.user}}'s links:</h1>
    <br>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Link, full</th>
                    <th>Link, short</th>
                    <th>User</th>
                    <th>Quantity of redirects</th>
                    <th>Creation time</th>
                </tr>
            </thead>
            <tbody>
                {% for link in url_list %}
                <tr>
                    <td>{{link.id}}</td>
                    <td>
                        <a href={{link.link_full}}>{{link.link_full}}</a>
                    </td>
                    <td>
                        <a href="{% url 'redirect' slug=link.link_short %}">{{link.link_short}}</a>
                    </td>
                    <td>
                        {% if link.creator %}
                            {{link.creator}}
                        {% else %}
                            Anonymous
                        {% endif %}
                    </td>
                    <td>{{link.clicks_quantity}}</td>
                    <td>{{link.time_create}}</td>
                    <td>
                        <a href="{% url 'links_delete' pk=link.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}